<div class="header-container">
    <div class="header-left"></div>
    <h1>Lista de productos</h1>
    <div class="header-right">
        <a href="/carts/{{cartId}}" class="cart-button">
            <span class="cart-icon">🛒</span>
            <span class="cart-text">Ver Carrito</span>
        </a>
    </div>
</div>
<p>Carrito actual: {{cartId}}</p>
<form action="/change-cart" method="POST">
    <label for="cartId">Cambiar Carrito:</label>
    <input type="text" id="cartId" name="cartId" placeholder="Ingrese el ID del carrito">
    <button type="submit">Cambiar</button>
</form>

<form action="/products" method="GET">
    <label for="category">Categoría:</label>
    <select id="category" name="category">
        <option value="" {{#unless category}}selected{{/unless}}>Todas</option>
        <option value="Electronicos" {{#if (eq category 'Electronicos')}}selected{{/if}}>Electrónicos</option>
        <option value="Accesorios" {{#if (eq category 'Accesorios')}}selected{{/if}}>Accesorios</option>
    </select>
    <label for="sort">Ordenar por precio:</label>
    <select id="sort" name="sort">
        <option value="" {{#unless sort}}selected{{/unless}}>Sin orden</option>
        <option value="asc" {{#if (eq sort 'asc')}}selected{{/if}}>Ascendente</option>
        <option value="desc" {{#if (eq sort 'desc')}}selected{{/if}}>Descendente</option>
    </select>
    <button type="submit">Aplicar filtros</button>
</form>

<ul>
    {{#each products}}
        <li>
            <a href="/products/{{this._id}}?cartId={{../cartId}}">{{this.title}}</a> - ${{this.price}}
            <button class="add-to-cart" data-id="{{this._id}}" data-cart-id="{{../cartId}}">Agregar al carrito</button>
        </li>
    {{/each}}
</ul>
<div class="pagination">
    {{#if hasPrevPage}}
        <a href="{{prevLink}}">Página Anterior</a>
    {{/if}}
    {{#if hasNextPage}}
        <a href="{{nextLink}}">Página Siguiente</a>
    {{/if}}
</div>

<div class="notification" id="notification"></div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const showNotification = (message) => {
            const notification = document.getElementById('notification');
            notification.textContent = message;
            notification.style.display = 'block';
            setTimeout(() => {
                notification.style.display = 'none';
            }, 1000);
        };

        document.querySelectorAll('.add-to-cart').forEach(button => {
            button.addEventListener('click', async (event) => {
                const productId = event.target.getAttribute('data-id');
                const cartId = event.target.getAttribute('data-cart-id');
                const response = await fetch(`/api/carts/${cartId}/product/${productId}`, { method: 'POST' });
                if (response.ok) {
                    showNotification('Producto agregado al carrito');
                } else {
                    showNotification('Error al agregar el producto al carrito');
                }
            });
        });
    });
</script>